@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&family=Roboto:wght@300&display=swap');

body{
    margin:0;
    background-color: #313134;
    color:white;
    font-family: "Roboto Mono";
}
#container{
    width:100vw;
    height:100vh;
    align-items: center;
    display: block;
}

.important{
    width: fit-content;
    font-weight: 700;
    padding:2rem;
    position: relative;
}
.important::before{
    content: '';
    position: absolute;
    left:0;
    bottom:0;
    margin-bottom: 1rem;
    height:2px;
    background-color: white;
    width:0;
    transition: 300ms ease-in-out;
}
.important:hover::before{
    width:100%;
}
.main {
    max-width: 700px;
    position: relative;
    padding: 3rem;
    margin: 0 auto;
    top:50%;
    transform:translateY(-50%);
    text-shadow: 2px 4px 6px black;
}
.one-line{
    font-family: "Roboto";
    margin-top:5px;
    font-size:20px;
}
a{
    color:cyan;
    text-decoration: none;
    position: relative;
}
a::before{
    content: '';
    position:absolute;
    background-color: cyan;
    left:0;
    bottom:0;
    right:0;
    height:2px;
    transform: scaleX(0);
    transition: 300ms ease-in-out;
}
a:hover::before{
    transform: scaleX(1);
}

ul{
    padding:1rem;
}

li{
    padding: 0.25rem;
}